!ansible/
ansible/*
!ansible/README.md
!ansible/ansible.cfg
!ansible/hosts

!ansible/group_vars/
ansible/group_vars/*
!ansible/group_vars/computes/
ansible/group_vars/computes/*
!ansible/group_vars/computes/README.md
!ansible/group_vars/computes/computes.yml

!ansible/host_vars/
ansible/host_vars/*
!ansible/host_vars/README.md
!ansible/host_vars/compute_1.yml

!ansible/library/
ansible/library/*
!ansible/library/README.md

!ansible/module_utils/
ansible/module_utils/*
!ansible/module_utils/README.md

!ansible/playbooks/
ansible/playbooks/*
!ansible/playbooks/README.md
!ansible/playbooks/basic.yml
!ansible/playbooks/mysql.yml


!ansible/roles/
ansible/roles/*
!ansible/roles/common/
ansible/roles/common/*
!ansible/roles/common/README.md
